.pdl-layout > div[data-type=layout]
  display: flex
  gap: 1em
  justify-content: center
  align-items: center
  [data-name=view]
    height: 100%
    margin-right: 1em

.pdl-layout.legend-bottom > div[data-type=layout]
  flex-direction: column

.pdl-layout .pdl-cell[data-name=legend] .pdlg.vertical
  min-height: fit-content

